@font-face {
  src: url("../fonts/Roboto-Black.ttf");
  font-family: "Roboto-Black";
}

@font-face {
  src: url("../fonts/Roboto-Bold.ttf");
  font-family: "Roboto-Bold";
}

@font-face {
  src: url("../fonts/Roboto-Light.ttf");
  font-family: "Roboto-Light";
}

@font-face {
  src: url("../fonts/Roboto-Medium.ttf");
  font-family: "Roboto-Medium";
}

@font-face {
  src: url("../fonts/Roboto-Regular.ttf");
  font-family: "Roboto-Regular";
}