.footer {
  background-color: $footer;
  padding: 35px 20px;
}

.footer__inner {
  width: 100%;
  max-width: 294px;
  margin: 0 auto;
}

.footer__text {
  font-family: "Roboto-Light";
  font-size: 13px;
  line-height: 17px;
  color: $text-white;
  opacity: .5;
}

@media (max-width: 375px) {
  .footer__text {
    font-size: 12px;
  }
}